.section-skills {
    padding: 10rem 0 20rem 0;
    background-color: $color-light-white;
}
.section-about {
    padding: 10rem 0 30rem 0;
    background-image: linear-gradient(to bottom, $color-light-green, $color-dark-green);
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 143px;
        background: url("../images/wave.png");
    }

    .aboutUs {
        padding: 1rem 1.5rem;
        // background-color: orange;
        &__text {
            color: $color-white;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 1.6rem;
            text-align: left;
        }
    }
}

.section-projects {
    padding: 10rem 0 25rem 0;
    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $color-dark-green;
        p  {
            font-size: 5rem;
            color: #3d3d3d;
        }
        h2 {
            font-size: 2rem;
            letter-spacing: 1px;
            font-family: 'Lato', sans-serif;
            margin-top: 1rem;
            text-transform: uppercase;
            font-weight: 400;
        }

    }
}

// section services
.section-services {
    padding: 15rem 0 20rem 0;
    background-color: rgba($color-black, .9);
    position: relative;
    transform: skewY(-5deg);

    & > * {
        transform: skewY(5deg);
    }

    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
        .service-icon {
            color: $color-white;
            font-size: 7rem;
            transition: all .2s ease;
        }
        p {
            color: $color-light-green;
            font-size: 2.5rem;
            margin-top: 3rem;
            font-weight: 300;
            letter-spacing: 1px;
            transition: all .25s ease;
        }

        &:hover .service-icon {
            color: $color-light-green;
        }
        &:hover p {
            color: $color-white;
        }
    }
}

//section clients -carousel
.section-clients {
    padding: 22rem 0 20rem 0;
    background-color: $color-light-white;
    // background-color: coral;
    margin-top: -9rem;
}

// section portfolio
.section-portfolio {
    padding: 10rem 0 20rem 0;
    background-color: rgba($color-light-white, .45);

    .portfolio-image--left {
        width: 80%;
        height: 30rem;
        background-color: orange;
        float: right;
        position: relative;
        border-radius: 3px;
        box-shadow: 0rem 1.5rem 1.5rem rgba($color-black, .3);
        transition: transform .3s ease;
        
        &::before {
            content: '';
            position: absolute;
            width: 3rem;
            height: 3rem;
            top: 50%;
            right: 0%;
            background-color: #06b903;
            // border-left: 1px solid $color-black;
            // border-right: 1px solid $color-black;
            // border-top: 1px solid $color-black;
            // border-bottom: 1px solid $color-black;
            transform: translate(50%, -50%) rotate(45deg);
            z-index: -1;
            

        }
    }

    .portfolio-image--right {
        width: 80%;
        height: 30rem;
        background-color: orange;
        position: relative;
        border-radius: 3px;
        box-shadow: 0rem 1.5rem 1.5rem rgba($color-black, .3);

        &::before {
            content: '';
            position: absolute;
            width: 3rem;
            height: 3rem;
            top: 50%;
            left: 0%;
            background-color: #06b903;
            // border-left: 1px solid $color-black;
            // border-right: 1px solid $color-black;
            // border-top: 1px solid $color-black;
            // border-bottom: 1px solid $color-black;
            transform: translate(-50%, -50%) rotate(45deg);
            z-index: -1;
            

        }
    }

    .bg1 {
        background: url("../images/portfolio-banner.jpg") no-repeat;
        background-size: cover;
        background-position: top center;
    }

    .bg2 {
        background: url("../images/portfolio-banner2.jpg") no-repeat;
        background-size: cover;
        background-position: top center;
    }

    .portfolio-content--left {
        width: 100%;
        height: 40rem;
        // background-color: tomato;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 0rem;
        h2 {
            font-size: 3rem;
            color: $color-dark-green;
            margin-bottom: 1.8rem;
            font-family: 'Lato',sans-serif;
            font-weight: 400;
        }

        p {
            font-size: 1.6rem;
            color: #3d3d3d;
        }
    }

    .portfolio-content--right {
        width: 100%;
        height: 40rem;
        // background-color: tomato;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 1rem 0rem;
        h2 {
            font-size: 3rem;
            color: $color-dark-green;
            margin-bottom: 1.8rem;
            font-family: 'Lato',sans-serif;
            font-weight: 400;
        }

        p {
            font-size: 1.6rem;
            color: #3d3d3d;
            text-align: right;
        }
    }
}


//section social

.section-social {
    padding: 10rem 0 15rem 0;
    background-image: linear-gradient(to bottom, $color-light-green, $color-dark-green);

    .social-media {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        // background-color: aqua;

        &__icons {
            font-size: 6rem;
            color: $color-light-white;
            transition: all .35s ease;
            cursor: pointer;

            &:hover {
                color: $color-black;
            }
        }
    }
}


